RewriteEngine On
# Ajustá la base si tu carpeta no se llama TAGUS
RewriteBase /TAGUS/public/

# No tocar archivos reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás → index.php
RewriteRule ^ index.php [QSA,L]
